# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
*.tsbuildinfo
tsconfig.build*.tsbuildinfo
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

backend_dulce_colonial/config/google-credentials.json
backend_dulce_colonial/config/google-token.json
backend_dulce_colonial/.env
backend_dulce_colonial/.env.*
